/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 6, 2016, 4:18:05 PM
    Author     : manuel
*/

body{
    background-color: black;
}

#menu ul a{
 color:greenyellow;
}

#menu ul{
    color:greenyellow;
}

.piepagina a{
    color:greenyellow;
}

.piepagina ul{
    color:greenyellow;
}